*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
  line-height: 1.4;
}
html {
  scroll-behavior: smooth;
}
/* HEADER SECTION */
header {
  float: left;
  background: rgb(44, 62, 80);
  height: 75px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
img {
  max-width: 100%;
}
.logo_part a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 20px 15px;
}
.logo_part {
  float: left;
  margin: 20px;
  width: 300px;

}
/* NAvigation Section */
nav {
  float: right;
 
  width:50%;

}
nav li {
  float: right;
  list-style: none;
}
.container1{
  display: flex;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
nav ul li a {
  color: white;
  margin: 20px;
  float: left;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(26, 188, 156);
}

.menu{
  width:100px;
  height:45px;
  background:rgb(26, 188, 156);
  padding: 0 12px;
  border-radius:5px;
  text-align:center;
  font-family:sans-serif;
  position: relative;
  cursor:pointer;
  display:none;
  
}


.menu:hover .inside-list{
  display:block;
}
.inside-list{
  position: absolute;
  top:52px;
  left:-30px;
  width:auto;
  background:whitesmoke;
  transition:all 0.2s ease-in-out;
  border-radius:5px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
  display:none;
}


.navigation2{
  list-style:none;
  
}
.navigation2 li {
  border-bottom:1px solid lightgrey;
  padding:17px 35px;
  border-radius:5px;
  cursor:pointer;
   transition:all 1s ease-in-out;
}

.navigation2 li:hover {
  background:rgb(26, 188, 156);
  color:white;
  
}
.navigation2 li a{
  color:#595959;
}

/* Banner Section */
.banner {
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(26, 188, 156);
}
.banner_content {
  max-width: 400px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.banner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.banner_img {
  width: 50%;
  margin-left: 85px;

}
h1 {
  font-size: 40px;
  line-height: 1.4;
  color:white;
  text-align: center;
}
p {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
.banner_line {
  display: flex;
  justify-content: center;
  margin: 10px 0 24px;
}
.banner_line .inner_line {
  width: 120px;
  height: 4px;
  margin: 0px 40px;
  background-color: #fff;
  border-radius: 50px;
}
.star {
  margin: -7%;
}
/* Portfolio Section */

.section {
  float: left;
  width: 100%;
  padding: 40px 0 40px 0px;

}
.row1{
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
  max-width:1200px;
}
.text-center {
  text-align: center;
  color:#263f4e;
  margin-top: 34px;
 animation: expand 1s linear 1s infinite; 
  
}

@keyframes expand{
   0%{
     letter-spacing:0px;
    
  }
  10%{
    letter-spacing:2px;
  }
  20%{
    letter-spacing:4px;
  }
  30%{
    letter-spacing:6px;
  }
  40%{
    letter-spacing:8px;
  }
  50%{
    letter-spacing:10px;
  }
  60%{
    letter-spacing:8px;
  }
  70%{
    letter-spacing:6px;
  }
  80%{
    letter-spacing:4px;
  }
  90%{
    letter-spacing:2px;
  }
  100%{
    letter-spacing:0px;
  }
  
}
.col-4 {
  width: 33.33%;
  float: left;
  padding: 15px 15px;
}
.col-4 img{
  border-radius: 10px;
}
.banner_line1 {
  display: flex;
  justify-content: center;
  margin: 10px 0 24px;
}
.banner_line1 .inner_line1 {
  width: 120px;
  height: 4px;
  margin: 0px 30px;
  background-color:#263f4e;

  border-radius: 50px;
}
.star2 {
  margin: -2%;
}

.container .row1 .col-4:hover{
  animation: myanime 1s linear alternate;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes myanime {
  from{
      transform: scale(1,1);
  }
  to {
      transform: scale(1.05,1.05);
  }
  
}
/* About Section */

.about_section {
  width: 100%;
  float: left;
  background: rgb(26, 188, 156);
  min-height: 500px;
}
.about {
  color: white;
  padding: 0;
  margin-top: 70px;
 animation: expand 1s linear 1s infinite; 
  
}

@keyframes expand{
   0%{
     letter-spacing:0px;
    
  }
  10%{
    letter-spacing:2px;
  }
  20%{
    letter-spacing:4px;
  }
  30%{
    letter-spacing:6px;
  }
  40%{
    letter-spacing:8px;
  }
  50%{
    letter-spacing:10px;
  }
  60%{
    letter-spacing:8px;
  }
  70%{
    letter-spacing:6px;
  }
  80%{
    letter-spacing:4px;
  }
  90%{
    letter-spacing:2px;
  }
  100%{
    letter-spacing:0px;
  }
  
}
.col-2{
  width:50%;
  float:left;
  padding: 0 20px;
  font-size: 14px;

}

.button1 {
  float: left;
  width: 100%;
  padding-top: 50px;
  text-align: center;
}
.button1 .logo {
  margin: 0 auto;
}

.button1 .logo a {
  padding: 20px 30px;
  background: rgb(26, 188, 156);
  border-radius: 8px;
  border: 1px solid white;
  color: white;
}
.button1 .logo a:hover {
  background-color: white;
  color: black;
}
.star3 {
  margin: -2%;
}
.button1:hover{
  animation: myanime 1s linear alternate;
}

@keyframes myanime {
  from{
      transform: scale(1,1);
  }
  to {
      transform: scale(1.05,1.05);
  }
  
}
/* Contact Section */
.contact-section {
  float: left;
  width: 100%;
  padding: 70px 0;
}
.form-input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  margin: 10px;
  resize: none;
  font-weight: 600;
  font-family: sans-serif;
}
.form-label {
  margin: 10px;
}

.contact-heading {
  color:#263f4e;
  text-align: center;
}
.container .row {
  float: left;
  width: 100%;
}
.container .row .col {
  width: 50%;
  margin: 0 auto;
}
.btn {
  padding: 15px 20px;
  margin-left: 10px;
  background-color: rgb(26, 188, 156);
  border: none;
  color: white;
  border-radius: 5px;
}
@keyframes myanime {
  from{
      transform: scale(1,1);
  }
  to {
      transform: scale(1.05,1.05);
  }
}
.btn:hover{
    animation: myanime 1s linear alternate;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.star4 {
  margin: -2%;
}

/* Footer Section */
.footer{
    background-color:#263f4e;
    float:left;
    width:100%;
    padding-bottom: 10px;

}
footer p {
    padding:20px 0px;
    text-align: center;
    background-color: transparent;
    color:white;
    float:left;
    width:100%;
}

.ft-3{
    float:left;
    width:33%;
    padding:50px 50px;
    float:left;

}
.ft-3 h2{
    text-transform: uppercase;
    padding:10px 0;

}
.ft-3 .para{
  font-size: 16px;
  font-family: sans-serif;
  margin: -10px;
  margin-left: 5px;
  margin-left: 71px;


}
footer .row{
    background-color: transparent;
    text-align: center;
    color:white;

    
}

.ft-3 p{
    text-align: left;
    font-size: 16px;
    font-family: sans-serif;
    margin: -10px;
}
.ft-3 p a {
    color:#1ABC9C;

}

.ft-3 .logo_row {
    display:flex;
    width:100%;
    justify-content: space-around;
    padding: 10px 0;
}



.ft-3 .logo a {
    text-decoration: none;
    color:aliceblue;
    border:1px solid white;
    padding:10px;
    border-radius:50%;
}

.ft-3 .logo a:hover {
    color:black;
    background-color: white;
    animation: myfirst 5s linear alternate;
}

.footer .copyright {
    background-color: #022235;
}



/* Media css */
@media only screen and (max-width: 768px)
{
    .container .row1 .col-4 {
        width:50%;
        padding:10px;
        float:left;
        padding:10px 10px;
        border-radius:10px;
    }
    .banner_content h1 {
        font-size:30px;
    }
    .logo_part a{
        padding-left:10px; 
    }
    .menu{
  display:block;

    }

    .banner_content h1
    {
        font-size: 40px;
    }
    nav {
        display:none;
    }

    .section{
        padding:40px 10px;
    }
   .row1 .col-4{
        width:100%;
        padding:0px;
    }

    /* contact */
    .contact_content .row .col{
        width:100%;
        padding:0px 20px 10px;

    }
    .col {
        width:100%;
        margin:0 auto;
    }
    form {
        /* border:1px solid; */
        padding:0px 0px;
        width:100%;
    }

    /* footer */
    .ft-3{
        width:100%;
        padding:20px;
    }
    .row .logo_row{
        justify-content: center;
      
    }
    .ft-3 .logo a {
        margin:0px 10px;
    }
    .ft-3 p{
        text-align: center;
    }

}

